@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:200i,300,400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:700&display=swap');

/* Custom properties/variables  */
:root {
  --main-white: #f0f0f0;
  --main-red: #be3144;
  --main-blue: #45567d;
  --main-gray: #303841;
}

*,
*:before,
*:after {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}

body {
	line-height: 1.5;
	background-color: #FFF;
}

img {
	max-width: 100%;
	display: block;
}

a {
	color: inherit;
	font-weight: bold;
}

input,
button,
textarea,
select {
	font: inherit;
}

button {
	border: 1px solid;
	background-color: transparent;
}


body {
	font-family: 'Poppins', sans-serif;
}

.uniforms-section{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	background-color: #000;
	background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}

.map-section{
	text-align: center;
	padding: 10rem 2rem;
	background: var(--main-blue);
}

.contact-section{
	text-align: center;
	padding: 10rem 2rem;
	background: var(--main-white);
}

.school-list{
	display: flex;
	justify-content: center;
	margin-top: 5rem;
}
.school-list li{
	display: inline-block;
	border: 2px solid #d0d0d0;
	border-radius: 0.25rem;
	margin: 2rem;
	width: 20rem;
	height: 20rem;
}

.school-logo{
	height: 100%;
	position: relative;
}

.school-logo img{
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}


.school-name{
	display: flex;
	justify-content: center;
}


.responsive-container {
	max-width: 1080px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.navbar {
	/*border-bottom: 1px solid #d0d0d0;*/
	min-height: 60px;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	display: flex;
	justify-content: flex-end;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: white;
	box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
	z-index: 10;
}

.navbar-content {
	display: flex;
	width: 100%;
	max-width: 2000px;
	padding-left: 1.25rem; 
	padding-right: 1.25rem;
	align-items: center;
	justify-content: space-between;
}

.navbar-list {
	display: flex;
	list-style-type: none;
	align-items: center;
}

.navbar-list li{
	padding: 8px 12px;
}

.navbar-list li:hover {
  background: var(--main-blue);
}

.link-button {
	display: flex;
	align-items: center;
	background-color: #000;
	border-radius: 0.375rem;
	padding: 0.5em 1.25em;
	color: #fff;
	i {
		font-size: 1.25rem;
		margin-left: 0.5rem;
	}
}

.logo {
	font-size: 2rem;
	font-weight: 700;
	color: white;
	background-color: #000080;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	margin-left: 0rem;
}

main {
	padding-top: 2rem;
	padding-bottom: 6rem;
}

.grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 2rem;

}

.grid-column {
	display: flex;
	flex-direction: column;
	& > * + * {
		margin-top: 2rem;
	}
}

.product {
	border-radius: 0.25rem;
	text-decoration: none;
	font-weight: 400;	
	transition: .15s ease;
	overflow: hidden;
	&:hover, &:focus {
		outline: none;
		box-shadow: 0 0 0 0.25rem pink;
		.product-content {
			border-color: transparent;
		}
	}
}

.product-image {
	border-radius: 0.25rem 0.25rem 0 0;
	overflow: hidden;
}

.product-content {
	padding: 1rem;
	border-left: 1px solid #dedede;
	border-right: 1px solid #dedede;
	border-bottom: 1px solid #dedede;
	border-radius: 0 0 0.25rem 0.25rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	transition: .15s ease;
	background-color: #FFF;
}

.product-action {
	color: #000;
	width: 2.5rem;
	height: 2.5rem;
	border-radius: .25rem;
	font-size: 1.25rem;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: .15s ease;
	&:hover {
		background-color: #ebebeb;
	}
}

.product-info {
	display: flex;
	flex-direction: column;
}

.product-title {
	font-size: 1.125rem;
	line-height: 1.25;
}

.product-price {
	margin-top: .25rem;
}

.credits {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	margin-top: 10rem;
	color: #777;
	font-size: .875rem;
	a {
		display: block;
	}
}

@media all and (max-width: 600px) {
	.grid {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		gap: 1.5rem;
	}

	.grid-column {
		& > * + * {
			margin-top: 1.5rem;
		}
	}
}
